body{

    background-color: gray;
    padding: 0px;
    margin: 0px;

}

.container-form{

    width: 50%;
    background-color: white;
    margin: auto;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    text-transform: capitalize;
    position: relative;
   
}

/* Here is my Input Design */

input[type=text]{

    width: 50%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid grey;
    text-indent: 20px;
    margin: 20px 0;
}

input[type=text]:focus{

    outline: none;
    border: 1px solid lightblue;
    border-radius: 15px;
    
}

/* Here is my Place hiolder design */
::placeholder{

    font-size: 15px;
    color: lightblue;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0 5px;

}

/* Here is my Input Icon design */
.user{
    position: absolute;
    position: top;
    left: 25%;
    top: 35.5%;
    
}


.form-user{
    position: relative;
    
}



/* Here is my Email Design */

input[type=email]{

    width: 50%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid grey;
    text-indent: 20px;
    margin: 20px 0;
}

input[type=email]:focus{

    outline: none;
    border: 1px solid lightblue;
    border-radius: 15px;
    
}

/* Here is my Email Icon design */

.email{
    position: absolute;
    position: top;
    left: 25%;
    top: 47.5%;
    
}

.container-form{
    position: relative;  
    
}



/* Here is my Telephone Number Design */

input[type=tel]{

    width: 50%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid grey;
    margin: 20px 0;
    /* text-indent: 20px; */
}

input[type=tel]:focus{

    outline: none;
    border: 1px solid lightblue;
    border-radius: 15px;
    
}


/* Here is my Password Design */

input[type=password]{

    width: 50%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid grey;
    margin: 20px 0;
    /* text-indent: 20px; */
}

input[type=password]:focus{

    outline: none;
    border: 1px solid lightblue;
    border-radius: 15px;
    
}


 /* Here is the Submit Design */
.btn{
    background-color: rgb(6, 53, 6);
  padding: 10px 40px;
  border-radius: 15px;
  width: 50%;
  font-size: 20px;
 margin: 15px;
 color: white;
 text-transform: capitalize;
  

}


/* This is the Divider design */
.divider{
display: flex;
align-items: center;

}

.divider::before, .divider::after{

    content: "";
    padding: 2px;
    background-color: gray;
    flex: 1;
    margin: 5px; 
    
}

.divider-bg{

    background-color: lightgrey;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid black;
   
}

/* This is the social media design */

.btn-social{

    background-color: #3b5998;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    margin: 10px;
    border-radius: 10px;
}



/* "Home" Go back Button design */

.next{

    position: absolute;
    top: 7%;
    left: 10%;
    font-size: 30px;
    
}

.next-home{
    color: rgb(199, 18, 18);
}





.btn-social:nth-child(2){

    background-color: black;
}

.btn-social:nth-child(3){

    background-color: red;
}

            /* This is the Mobile Responsiveness */


@media (max-width:1000px){

   body{

    background-color:blue

   }
    
   .container-form{

    font-size: 15px;

}

.btn-social{
    padding: 10px 10px;
    margin: 5px;
}


/* Here is my Input Icon design */
input[type=text]{

    width: 80%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid grey;
    text-indent: 20px;
    margin: 15px 0;
}


.user{
    position: absolute;
    position: top;
    left: 10%;
    top: 37%; 
}

/* Here is my Email Icon design */
input[type=email]{

    width: 80%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid grey;
    text-indent: 20px;
    margin: 15px 0;
}

.email{
    position: absolute;
    position: top;
    left: 10%;
    top: 48%; 
}

/* Here is my Telephone design */

input[type=tel]{

    width: 80%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid grey;
    text-indent: 20px;
    margin: 15px 0;
}

input[type=password]{

    width: 80%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid grey;
    text-indent: 20px;
    margin: 15px 0;
}

input[type=submit]{

    width: 80%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid grey;
    text-indent: 20px;
    margin: 15px 0;
    text-transform: capitalize;
   font-weight: bold;
  
   
}

::placeholder{

    font-size: 18px;
    color: lightblue;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0 3px;

}


/* "Home" Go back Button design */

.next{

    position: absolute;
    top: 1%;
    left: 85%;
    font-size: 20px;
    
}

.next-home{
    color: red;
}




}


